h2 {
  font-family: 'Kranky', Helvetica;
  text-align: center;
  padding-bottom: 40px;
}

#team-a {
	padding-right: 25px;
	padding-bottom: 80px;
}
#team-b {
	padding-left: 25px;
}

#team-info, #game-info {
  padding: 20px 0 5px 0;
}

input{
	width: 50%;
	background-color: #FFFFFF;
}

.info {
	border: 0; 
	color: #E52E10; 
	font-weight: bold;
}

.ui-slider-range { 
	background: #E52E10; 
}
.ui-slider-handle { 
	display: none;
}
